@font-face {
  font-family: 'oatly';
  src: url('../fonts/ToniNoveauPro-Regular.917643b2.otf') format('opentype');
}

@font-face {
  font-family: 'tekst';
  src: url('../fonts/FFMagdaCleanMonoStdRegular.51a2e183\ \(1\).woff');
}

@font-face {
  font-family: 'title';
  src: url('../fonts/GirdoBlackPro-Regular.a40bd0fc.woff');
}

/* CUSTOM PROPERTIES */
button {
  outline: none;
  background-color: black;
  border: none;
  width: 3em;

  aspect-ratio: 1/1;
  position: relative;
  display: grid;
  place-items: center;
}

button span {
  position: absolute;
  width: 1em;
  height: 0.15em;
  background-color: white;
  transition: .3s;
}

/* normaal  */
header button span:nth-of-type(1) {
  translate: 0 -.33em;
}

header button span:nth-of-type(2) {}

header button span:nth-of-type(3) {
  translate: 0 .33em;
}

/* kruisje */
header button[aria-expanded="true"] span:nth-of-type(1) {
  translate: 0 0;
  transform: rotate(45deg);
}

header button[aria-expanded="true"] span:nth-of-type(2) {
  scale: 0 1;
}

header button[aria-expanded="true"] span:nth-of-type(3) {
  translate: 0 0;
  transform: rotate(-45deg);
}

/* sidebar  */
aside:first-of-type {
  width: 20em;
  max-height: 80em;
  background-color: black;
  color: white;
  position: absolute;
  transition: .3s ease;
  transform: translateX(-25em);
}

aside.open {
  transform: translateX(0);
}



/* het menu */

header h2 {
  font-family: 'oatly';
  font-size: 18px;
}

aside ul {
  list-style-type: none;
}

aside ul li a:nth-last-of-type(1) {
  font-family: 'oatly';
  color: white;
  display: block;
  padding: 1em;
  text-decoration: none;
  border-bottom: dashed 0.15em black;
}

aside ul li a:nth-last-of-type(2) {
  font-family: 'oatly';
  color: white;
  display: block;
  padding: 1em;
  text-decoration: none;
}





/* ALGEMENE STYLING */
:root {
  --tekst: black;
}


nav h2 ul li:first-of-type {
  list-style-type: none;
}

.body {
  max-width: 100%;
  height: fit-content;
  overflow-x: hidden;
}




/*FOOTER*/

marquee:first-of-type {
  width: 250;
  height: 200;
  direction: rtl;
  border: 1px solid #98c5d3;
  color: black;
  font-family: 'tekst';

  background-color: #98c5d3;
  overflow: hidden;
  position: relative;
  white-space: nowrap;

}

footer {
  background-color: black;
  color: rgb(123, 118, 118);
  max-height: fit-content;
}

footer p {
  text-align: center;
}

footer li {
  padding-bottom: 1em;
  padding-left: 2em;

}

footer li:hover {
  background-color: black;
  color: white;
}

footer ul {
  max-height: 200px;
}

footer ul li {
  display: flex;
  flex-grow: 9;
}


.digdeeper {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.besocial {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}


/* Dus je kan de eerste button in je section(main) pakken doormiddel van main (spatie) button */
/* https://www.a11yproject.com/posts/how-to-hide-content/ */
/* css scroll snap (is voor carrousel centreren */



/* HEADER */


/* FOOTER */

/* MAIN */

/* ALLE SECTIES */