/* section:first-of-type ul li:first-of-type{div:nth-of-type(2){ */

/* nav:first-of-type ul {
    list-style-type: none;
    text-decoration: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
nav a:first-of-type {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:48px;
} */

/* nav:first-of-type{
    position:fixed;
    Top:0;
    left:0;
    width:100vw;
    height:100v;
    inset:0;
    translate: -100% 0%;

    transition: .3s;
}
nav.open{
    translate:0 0;
} */

/* .primary-nav {
    position: relative;
}

.toggle-nav {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 10;
    width: 4rem;
    height: 3.5rem;
    cursor: pointer;
    background: #6699cc;

    span span:before span:after {
        content: '';
        position: absolute;
        left: 0;
        display: block;
        text-indent: -9999px;
        background-color: #fff;
        height: .5rem;
        width: 100%;
        transition: background-color .3s ease-in-out, transform .5s ease-in-out, top .5s ease-in-out;
    }

    span {
        top: 0.5rem;
        width: 3rem;
        margin-left: .5rem;
    }

    span:before {
        top: 1rem;
    }

    span:after {
        top: 2rem;
    }

    .open & {
        span {
            transform: rotate(45deg);
            top: 1.5rem;

            &:before {
                background-color: transparent;
            }

            &:after {
                top:0 }
                &:after {transform: rotate(-90deg);
            }}
        }
     */

     button{
        outline: none;
        background: none;
        border: none;
        width: 3em;
     }

     button span{
        display: inline-block;
        background-color: black;
        height: 0.3rem;
        transition: opacity .3s ease-in-out,transform .3s ease-in-out;
        width: 100%;
     }

header button span:first-of-type{
    transform: translateY(calc(0.7375rem - 50%)) rotate(45deg);
}
/* a>menu:first-of-type{
    position: relative;
    padding-left: 1.25em;
   

}
a:first-of-type::before{
content: "";
position: absolute;
left: 0;
top: 0.25em;
width: 1em;
height: .15em;
box-shadow:  0 0.25em 0 0 black, 
0 0.5em 0 0 black;
} */

main section:first-of-type h1,
main section:first-of-type h2 {
    font-family: 'title';
    font-size: 48px;
    font-weight: 100;
    line-height: 0.8em;
    letter-spacing: 3px;
    width: 100%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

main section div p {
    position: absolute;
    font-size: 2em;
    padding: 0;
    margin: 0;

    width: 70px;
    top: -6px;
    right: 70px;
    padding-right: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

main section div p>span {
    z-index: 10;
    width: 100%;
    height: 100%;
    font-family: 'title';
    font-size: 0.56em;
    color: white;
}
main section div p>span em span {
    font-size: 0.56em;
    color: white;
}

em:first-of-type {
    font-size: 3em;
}

main section div p img {
    position: absolute;
    width: 100%;

    /* top: 20px;
    right: 3px;
    padding-right: 2.5em; */
}

/* div:nth-of-type(2) */
main section div p>span span {
    font-size: 18px;
}

/* melkpak */
main section div {
    position: relative;
    top: 0;
    right: 0;
    width: 300px;
    list-style-type: none;
}

/* Tekst */
p:first-of-type {
    font-family: 'tekst';
    font-size: 18px;
    padding: 0;
}

/* HELP */
.melk {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0;
    right: 0;
    inset: 0;
}

/* Eerste melkpakken lijst */
.otherStuff {
    display: flex;
    justify-content: baseline;
    height: 80px;
    margin-top: 17px;
    padding-left: 0;

}

.otherStuff img {
    width: 47.09px;
    height: 47.09px;
    margin: 8px;

}

.lastimg {
    padding-right: 8px;
}

.otherStuff ul {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    list-style-type: none;
    margin: 0;

}

.otherStuff li {
    max-width: 47px;
}

.otherStuff span {
    font-family: 'tekst';
    font-size: 14px;
    word-wrap: break-word;
    margin-left: 10px;
}

/* .otherStuff p {
    word-break: break-word;
    display: flex;
    align-items: flex-start;
} */
details {
    border-bottom: dashed 0.15em black;
}

details summary {
    font-family: 'oatly';
    font-size: 32px;
    padding-bottom: 1em;
    display: flex;
    justify-content: space-between;
}

details summary::after {
    font-size: 1.4em;
    content: "+";
    transition: 1s;
}

details[open] summary::after {
    rotate: -45deg;
}
table:first-of-type{
    font-family: 'tekst';
    font-size: 18px;
    display: block;
}
tbody:first-of-type{
    font-family: 'tekst';
    font-size: 18px;
    display: table;
    border-collapse: separate;
    text-indent: initial;
}
tr:first-of-type{
    display: table-row;
    vertical-align: inherit;
    border-color: red;

}
td{
    border-bottom: dashed 2px;
    padding: 0.5em;
}
td:last-child{
    text-align: right;
}

/* .lijst{

} */

section:nth-of-type(4){
    font-family:'tekst';

} 
   
/* main section section section section h2{
    font-family: 'tekst';
} */


/* FIXEN VOOR LATER */
/* h2 {
    font-family: 'title';
}

section: :nth-of-type()


ul {
    list-style-type: none;
    margin-left: 5em;
    margin-right: .5em;
}

li {
    float: right;
}

li img {
    height: 60px;
    width: 60px;
} */
